<!DOCTYPE html>
<html lang="en">
<body>
    {% extends 'blogpost/base.html'%}

    {% block content %}
        <div class="card mb-3 mt-3 ">
            <h4 class="card-header">
                {{ post.title|linebreaks }}
            </h4>
            <div class="card-body">
                {{ post.text|linebreaks }}
            </div>
        </div>  
        <h6>
            <h6>
                {{ post.date_added|date:'M d, Y H:i'}}
            </h6>
            <small>
                <a class="btn btn-sm btn-primary" role="button" href="{% url 'blogpost:edit_post' post.id %}">
                    Edit post
                </a>
            </small>
            <small>
                <a class="btn btn-sm btn-primary" role="button" href="{% url 'blogpost:delete_post' post.id %}">
                    Delete post
                </a>
            </small>
        </h6>
    {% endblock content %}
    
</body>
</html>